
.main{
   display: flex;
   justify-content: space-between;
}
.logo{
    color: rgb(50, 167, 235);
}
.nav {
    margin:1rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.navitem {
    text-decoration: none;
    color:black;
}

.account {
    margin:1rem;
    width: 13%;
    display: flex;
    justify-content: space-around;
}